
body{
	background-color:#F9F6EE;
}
table tr{
	background-color:white;
}
table tr td input{
	width:700px;
	height:40px;
	padding:10px;
	background-color:#F1F3F6;
	border-radius:8px;
	font-size:18px;
    border: 1px solid gray;
}
table tr td input:focus{
    outline: none;
}
 .block1{
		width:100%;
		padding:5px;
    }
.col{
	/* top,right,left,bottom */
	padding: 10px 59px 5px 5px;
    /* border: 1px solid blue; */
}
.pd{
	padding-left:90px;
	padding-right:100px;
	height:130px;
}
.center{
	text-align:center;
}

